body{ margin: 0px; padding: 0px; }
.header{
    width: 100%;
    height: 41px;
    text-align: left;
    border: 2px solid #12E2B9;
    background: #12E2B9;
}
.list{
    display: inline-block;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.page{
    display: inline-block;
    width:100px;
    height: 40px;
    line-height: 40px;
    border-radius: 2px;
    font-family: 'GmarketSansMedium';
}
.page>a{ text-decoration: none; color: #fff; }
.page:hover{ transition: 0.3s; background: #16957C; }